body{
     width: 500px;
     margin: 0 auto;
     padding: 200px;
	Background-color:#EADCB9; 
 }
 fieldset{
	 background-color:#D5B48A; 
	 width: 100%;
	 margin: 0 auto;
	 padding: 20px;
 }
 input{
	  width: 80%;
 }
#name{
	width: 40%;
}
 a:link{
		text-decoration: none;
	}
	