* {
    margin: 0px;
    padding: 0px;
}

body {
    Background-color: #EADCB9;
}

#logoImage {
            width: 100px;
            height: auto;
            float: left;
        }
#header {
    width: 100%;
    height: 60px;
    background: #D5B48A;
    box-shadow: 0px 2px 4px gray;
}

#navbar {
    width: 100%;
    height: 50px;
    float: right;
}

#navbar>li {
    width: 12%;
    list-style: none;
    float: right;
}

li>a {
    display: block;
    color: black;
    line-height: 60px;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    text-decoration: none;
}

li>a:hover {
    background: #EADCB9;
    color: blue;
}


h1{
    padding-left: 10px;
}
.box{
    width: 310px;
	height:300px;
    float: right;
    margin: 10px;
    border :7px;
    font-weight: bold;
    
}
.box p{
    margin: 10px;
}
.box img{
    max-width: 80%;
    max-height: 100%;
}
.box a {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 8px;
    display: block;
}
.box a:hover{
    background:#556;
    
}







.details , .img{
    display: inline-block;
}
.details{
    width: 80%;
    float: left;
}

.details h2{
    padding: 10px;  
}
.details h5{
    padding: 5px;  
}
.author{
    color: blue;
    font-weight: 700;
}
.details p{
    margin: 7px;
}
.price{
    color: red;
    font-weight: bold;
}
.download{
    background:#707;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 7px;
    margin-top: 50px;
}
.download:hover{
    background: #ad0dad;
    
}
.shopping{
    background:#707;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 7px;
    margin-top: 10px;
}
.shopping:hover{
    background: #ad0dad;
    
}
/* css contact form */

.msyform{
    
    border: 2px solid #eee;
    padding: 10px;
    margin: 5px;
  
    
}


.myform input{
    width: 80%;
    height: 30px;
    text-align: center;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 7px;
}

label{
    display: block;
	
}

.myform textarea{
    width: 80%;
    border: 0;
    resize: none;
    min-height: 200px;
    
}
input[type="submit"]{
    background: #555;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer
}
    input[type="submit"]:hover {
    background: #888;
    
}
